* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

nav {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  min-height: 101.5px; }

h1 {
  font-family: 'Bree Serif', serif;
  color: #EBEBEB;
  font-size: 3rem; }

a {
  text-decoration: none;
  font-size: 1.1rem; }
  a:link {
    color: #787878; }
  a:visited {
    color: #EBEBEB; }
  a img {
    margin-right: 0.4rem; }

.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.brand-logo {
  height: 50px;
  width: 50px;
  padding-left: 1rem; }

.nav-link {
  filter: invert(42%) sepia(69%) saturate(3017%) hue-rotate(183deg) brightness(103%) contrast(106%); }

.nav-user {
  filter: invert(100%) sepia(39%) saturate(432%) hue-rotate(193deg) brightness(114%) contrast(84%); }

.navigation-list {
  display: flex;
  align-items: flex-end; }

.navigation-list a {
  padding: 0 0.8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.navigation-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.user-settings {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.title {
  font-family: 'Bree Serif', serif; }

.arrow {
  width: 12px;
  height: auto;
  transform: rotate(180deg);
  margin: 0 0 0 0.8rem;
  padding: 0; }

@media (max-width: 720px) {
  .navigation-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
  .nav-link {
    width: 20px;
    margin: 0.5rem 0.8rem 0.5rem 0; }
  .arrow {
    width: 12px;
    margin: 0.5rem 0 0.5rem 0.8rem; } }

@media (max-width: 500px) {
  .navigation-list a {
    padding: 0; }
  .navigation-title {
    flex-direction: column-reverse; }
  h1 {
    font-size: 2.5rem; }
  .admin-text,
  .brand-logo {
    display: none !important; } }

main {
  background-color: #EBEBEB;
  padding: 1rem; }

h2 {
  color: #333333;
  font-size: 2.8rem;
  margin: 0 0 1.1rem 1.1rem; }

.card-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  max-width: 380px;
  background-color: white;
  margin: 1.1rem;
  color: #787878;
  box-shadow: 16px 16px 15px -5px rgba(0, 0, 0, 0.22); }

h3,
.playlist-name {
  font-size: 1.3rem; }

.playlist-name {
  margin-bottom: 1.5rem;
  font-weight: 600; }

.num-attachements {
  font-size: 3rem;
  color: #0099FF;
  font-weight: 600; }

.web-link-container {
  background-color: #EBEBEB;
  width: auto;
  padding: 0.6rem 4rem 0.6rem 0.6rem;
  margin: 1.5rem 0; }

.user-page-link {
  color: #333333;
  word-wrap: break-word; }
  .user-page-link:visited {
    color: #787878; }

.user-photo {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: top;
  background-color: black; }

.user-info {
  padding: 1.1rem; }

.box {
  position: absolute;
  max-width: inherit;
  opacity: .5; }

.card:hover {
  cursor: pointer; }
  .card:hover .box {
    opacity: 0; }
