$brand-blue:  #0099FF;
$brand-light-grey: #EBEBEB;
$nav-grey: #333333;
$nav-light-grey: #787878;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

// =============================================================================================
// ==============================   NAVIGATION BAR   ===========================================
// =============================================================================================
nav {
  background-color: $nav-grey;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  min-height: 101.5px;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: $brand-light-grey;
  font-size: 3rem;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  
  &:link {
    color: $nav-light-grey;
  }

  &:visited {
    color: $brand-light-grey;
  } 

  & img {
    margin-right: 0.4rem;
  }
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.brand-logo {
  height: 50px;
  width: 50px;
  padding-left: 1rem;
}

.nav-link {
  filter: invert(42%) sepia(69%) saturate(3017%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

.nav-user {
  filter: invert(100%) sepia(39%) saturate(432%) hue-rotate(193deg) brightness(114%) contrast(84%);
}

.navigation-list {
  display: flex;
  align-items: flex-end;
}

.navigation-list a{
  padding: 0 0.8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  font-family: 'Bree Serif', serif;
}

.arrow {
  width: 12px;
  height: auto;
  transform: rotate(180deg);
  margin: 0 0 0 0.8rem ;
  padding: 0;
}

@media (max-width: 720px) {
  .navigation-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .nav-link {
    width: 20px;
    margin: 0.5rem 0.8rem 0.5rem 0;
  }

  .arrow {
    width: 12px;
    margin: 0.5rem 0 0.5rem 0.8rem;
  }  
}

@media (max-width: 500px) {
  .navigation-list a{
    padding: 0;
  }

  .navigation-title {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 2.5rem;
  }

  .admin-text,
  .brand-logo {
    display: none !important;
  }
}



